CREATE OR REPLACE FUNCTION get_role_counts() RETURNS TABLE (role TEXT, count BIGINT) LANGUAGE SQL AS components/navigation SELECT role, COUNT(*) as count FROM profiles GROUP BY role ORDER BY count DESC; components/navigation;
