-- =============================================
-- Database Extensions
-- =============================================

-- Enable UUID generation
CREATE EXTENSION IF NOT EXISTS "uuid-ossp";

-- Enable cryptographic functions
CREATE EXTENSION IF NOT EXISTS "pgcrypto";

-- Enable moddatetime extension for automatic timestamp updates
CREATE EXTENSION IF NOT EXISTS "moddatetime";

-- Enable pg_net for HTTP requests (used for edge functions)
CREATE EXTENSION IF NOT EXISTS "pg_net";

-- Enable full text search
CREATE EXTENSION IF NOT EXISTS "pg_trgm";

-- Enable advanced indexing
CREATE EXTENSION IF NOT EXISTS "btree_gist"; 
-- =============================================
-- Custom Types and Enums
-- =============================================

-- User roles enum
CREATE TYPE user_role AS ENUM (
    'guest',
    'student', 
    'faculty',
    'staff',
    'administrator',
    'super_admin',
    'accounts',
    'admin'
);

-- Application status enum  
CREATE TYPE application_status AS ENUM (
    'pending',
    'approved',
    'rejected'
);

-- Admission status enum
CREATE TYPE admission_status AS ENUM (
    'pending',
    'approved',
    'rejected',
    'enrolled',
    'Pending',
    'Approved',
    'Rejected'
);

-- Student status enum
CREATE TYPE student_status AS ENUM (
    'pending',
    'active',
    'inactive',
    'transferred',
    'suspended'
);

-- Billing status enum
CREATE TYPE billing_status AS ENUM (
    'unpaid',
    'partially_paid',
    'paid',
    'overdue',
    'cancelled'
);

-- Refund status enum
CREATE TYPE refund_status AS ENUM (
    'pending',
    'approved',
    'processed',
    'rejected'
);

-- Discount approval status enum
CREATE TYPE discount_approval_status AS ENUM (
    'pending',
    'approved',
    'rejected'
);

-- Resource condition enum
CREATE TYPE resource_condition AS ENUM (
    'excellent',
    'good',
    'fair',
    'poor',
    'needs_repair',
    'out_of_service'
);

-- Resource request status enum
CREATE TYPE resource_request_status AS ENUM (
    'pending',
    'approved',
    'rejected',
    'fulfilled',
    'cancelled'
);

-- Resource request priority enum
CREATE TYPE resource_request_priority AS ENUM (
    'low',
    'medium',
    'high',
    'urgent'
);

-- Reservation status enum
CREATE TYPE reservation_status AS ENUM (
    'pending',
    'approved',
    'rejected',
    'cancelled',
    'completed'
);

-- Digital resource type enum
CREATE TYPE digital_resource_type AS ENUM (
    'software',
    'database',
    'cloud_service',
    'api',
    'storage'
);

-- Digital resource access method enum
CREATE TYPE digital_resource_access_method AS ENUM (
    'web',
    'desktop',
    'api',
    'vpn'
);

-- Timetable type enum
CREATE TYPE timetable_type AS ENUM (
    'weekly',
    'day_order'
);

-- Day of week enum
CREATE TYPE day_of_week AS ENUM (
    'monday',
    'tuesday',
    'wednesday', 
    'thursday',
    'friday',
    'saturday',
    'sunday'
);

-- Attendance status enum
CREATE TYPE attendance_status AS ENUM (
    'present',
    'absent',
    'late',
    'excused',
    'holiday'
);

-- Leave type enum
CREATE TYPE leave_type AS ENUM (
    'public_holiday',
    'exam_holiday',
    'weather_closure',
    'emergency_closure',
    'other'
); 
-- =============================================
-- Database Tables
-- =============================================

-- =============================================
-- Core Tables
-- =============================================

-- Institutions table
CREATE TABLE institutions (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    name VARCHAR(255) NOT NULL,
    counselling_code VARCHAR(50),
    location VARCHAR(255),
    contact_email VARCHAR(255),
    contact_phone VARCHAR(20),
    website VARCHAR(255),
    timetable_type timetable_type DEFAULT 'weekly',
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

-- Profiles table (extends auth.users)
CREATE TABLE profiles (
    id UUID PRIMARY KEY REFERENCES auth.users(id) ON DELETE CASCADE,
    email VARCHAR(255) UNIQUE NOT NULL,
    full_name VARCHAR(255),
    phone_number VARCHAR(20),
    role user_role DEFAULT 'guest',
    avatar_url VARCHAR(255),
    institution_id UUID REFERENCES institutions(id),
    profile_completed BOOLEAN DEFAULT FALSE,
    is_active BOOLEAN DEFAULT TRUE,
    is_super_admin BOOLEAN DEFAULT FALSE,
    last_login TIMESTAMP WITH TIME ZONE,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

-- Users table (additional user info)
CREATE TABLE users (
    id UUID PRIMARY KEY REFERENCES profiles(id) ON DELETE CASCADE,
    full_name VARCHAR(255),
    email VARCHAR(255),
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

-- User institution access table
CREATE TABLE user_institution_access (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    user_id UUID REFERENCES profiles(id) ON DELETE CASCADE NOT NULL,
    institution_id UUID REFERENCES institutions(id) ON DELETE CASCADE NOT NULL,
    access_type VARCHAR(50) DEFAULT 'full',
    granted_by UUID REFERENCES profiles(id),
    is_active BOOLEAN DEFAULT TRUE,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    UNIQUE(user_id, institution_id)
);

-- Custom roles table
CREATE TABLE custom_roles (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    role_key VARCHAR(50) UNIQUE NOT NULL,
    role_name VARCHAR(100) NOT NULL,
    description TEXT,
    permissions JSONB DEFAULT '{}',
    is_system_role BOOLEAN DEFAULT FALSE,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

-- User activity logs table
CREATE TABLE user_activity_logs (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    user_id UUID REFERENCES profiles(id),
    institution_id UUID REFERENCES institutions(id),
    action_type VARCHAR(50) NOT NULL,
    resource_type VARCHAR(50),
    resource_id VARCHAR(255),
    details JSONB,
    ip_address INET,
    user_agent TEXT,
    session_id VARCHAR(255),
    request_method VARCHAR(10),
    request_path TEXT,
    response_time INTEGER,
    status_code INTEGER,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

-- API Keys table
CREATE TABLE api_keys (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    user_id UUID REFERENCES profiles(id) ON DELETE CASCADE NOT NULL,
    name VARCHAR(255) NOT NULL,
    key_value VARCHAR(255) UNIQUE NOT NULL,
    permissions JSONB DEFAULT '{}',
    allowed_ips TEXT[],
    allowed_origins TEXT[],
    rate_limit INTEGER DEFAULT 1000,
    expires_at TIMESTAMP WITH TIME ZONE,
    last_used_at TIMESTAMP WITH TIME ZONE,
    is_active BOOLEAN DEFAULT TRUE,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

-- API Rate limits table
CREATE TABLE api_rate_limits (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    api_key_id UUID REFERENCES api_keys(id) ON DELETE CASCADE NOT NULL,
    window_start TIMESTAMP WITH TIME ZONE NOT NULL,
    request_count INTEGER DEFAULT 1,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    UNIQUE(api_key_id, window_start)
);

-- API Request logs table
CREATE TABLE api_request_logs (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    api_key_id UUID REFERENCES api_keys(id),
    endpoint VARCHAR(255),
    method VARCHAR(10),
    status_code INTEGER,
    response_time_ms INTEGER,
    ip_address INET,
    user_agent TEXT,
    request_headers JSONB,
    request_body JSONB,
    response_body JSONB,
    error_message TEXT,
    timestamp TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

-- =============================================
-- Academic & Organizational Tables
-- =============================================

-- Degrees table
CREATE TABLE degrees (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    institution_id UUID REFERENCES institutions(id) NOT NULL,
    degree_id VARCHAR(50) NOT NULL,
    degree_name VARCHAR(255) NOT NULL,
    degree_type VARCHAR(50),
    degree_duration INTEGER,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

-- Departments table
CREATE TABLE departments (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    institution_id UUID REFERENCES institutions(id) NOT NULL,
    degree_id UUID REFERENCES degrees(id),
    department_code VARCHAR(50) NOT NULL,
    department_name VARCHAR(255) NOT NULL,
    head_of_department VARCHAR(255),
    contact_email VARCHAR(255),
    contact_phone VARCHAR(20),
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    UNIQUE(institution_id, department_code)
);

-- Institution departments junction table
CREATE TABLE institution_departments (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    institution_id UUID REFERENCES institutions(id) NOT NULL,
    department_id UUID REFERENCES departments(id) NOT NULL,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

-- Programs table
CREATE TABLE programs (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    institution_id UUID REFERENCES institutions(id) NOT NULL,
    degree_id UUID REFERENCES degrees(id) NOT NULL,
    department_id UUID REFERENCES departments(id) NOT NULL,
    program_id VARCHAR(50) NOT NULL,
    program_name VARCHAR(255) NOT NULL,
    program_code VARCHAR(50),
    duration_years INTEGER,
    total_credits INTEGER,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    UNIQUE(institution_id, program_id)
);

-- Semesters table
CREATE TABLE semesters (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    institution_id UUID REFERENCES institutions(id) NOT NULL,
    semester_code VARCHAR(20) UNIQUE NOT NULL,
    semester_number INTEGER NOT NULL,
    semester_name VARCHAR(100) NOT NULL,
    total_credits INTEGER,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

-- Sections table
CREATE TABLE sections (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    institution_id UUID REFERENCES institutions(id) NOT NULL,
    degree_id UUID REFERENCES degrees(id) NOT NULL,
    department_id UUID REFERENCES departments(id) NOT NULL,
    program_id UUID REFERENCES programs(id) NOT NULL,
    semester_id UUID REFERENCES semesters(id) NOT NULL,
    section_name VARCHAR(50) NOT NULL,
    max_students INTEGER,
    current_students INTEGER DEFAULT 0,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    UNIQUE(institution_id, degree_id, department_id, program_id, semester_id, section_name)
);

-- Courses table
CREATE TABLE courses (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    institution_id UUID REFERENCES institutions(id) NOT NULL,
    course_code VARCHAR(50) NOT NULL,
    course_name VARCHAR(255) NOT NULL,
    credits INTEGER,
    course_type VARCHAR(50),
    description TEXT,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    UNIQUE(institution_id, course_code)
);

-- Course mappings table
CREATE TABLE course_mappings (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    institution_id UUID REFERENCES institutions(id) NOT NULL,
    degree_id UUID REFERENCES degrees(id) NOT NULL,
    department_id UUID REFERENCES departments(id) NOT NULL,
    program_id UUID REFERENCES programs(id) NOT NULL,
    semester_id UUID REFERENCES semesters(id) NOT NULL,
    course_id UUID REFERENCES courses(id) NOT NULL,
    is_elective BOOLEAN DEFAULT FALSE,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    UNIQUE(institution_id, degree_id, department_id, program_id, semester_id, course_id)
);

-- Academic years table
CREATE TABLE academic_years (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    institution_id UUID REFERENCES institutions(id) NOT NULL,
    academic_year_name VARCHAR(100) NOT NULL,
    start_date DATE NOT NULL,
    end_date DATE NOT NULL,
    is_active BOOLEAN DEFAULT FALSE,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    UNIQUE(institution_id, academic_year_name)
);

-- =============================================
-- Staff & Student Tables
-- =============================================

-- Employment categories table
CREATE TABLE employment_categories (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    category_name VARCHAR(100) NOT NULL,
    description TEXT,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

-- Staff table
CREATE TABLE staff (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    staff_id VARCHAR(50) UNIQUE NOT NULL,
    staff_name VARCHAR(255) NOT NULL,
    email VARCHAR(255) UNIQUE NOT NULL,
    institution_email VARCHAR(255) UNIQUE,
    phone VARCHAR(20),
    address TEXT,
    date_of_birth DATE,
    gender VARCHAR(20),
    employment_status VARCHAR(50),
    designation VARCHAR(100),
    qualification VARCHAR(255),
    experience_years INTEGER,
    date_of_joining DATE,
    institution_id UUID REFERENCES institutions(id),
    department_id UUID REFERENCES departments(id),
    category_id UUID REFERENCES employment_categories(id),
    staff_photo_url TEXT,
    aadhaar_number VARCHAR(20),
    pan_number VARCHAR(20),
    bank_account_number VARCHAR(50),
    bank_name VARCHAR(100),
    ifsc_code VARCHAR(20),
    salary DECIMAL(10, 2),
    is_active BOOLEAN DEFAULT TRUE,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

-- Admissions table
CREATE TABLE admissions (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    student_name VARCHAR(255) NOT NULL,
    father_name VARCHAR(255),
    father_occupation VARCHAR(100),
    father_mobile VARCHAR(20),
    mother_name VARCHAR(255),
    mother_occupation VARCHAR(100),
    mother_mobile VARCHAR(20),
    date_of_birth VARCHAR(50),
    gender VARCHAR(20),
    religion VARCHAR(50),
    community VARCHAR(100),
    caste VARCHAR(100),
    annual_income DECIMAL(12, 2),
    last_school VARCHAR(255),
    board_of_study VARCHAR(100),
    tenth_marks DECIMAL(5, 2),
    twelfth_marks DECIMAL(5, 2),
    medical_cutoff_marks DECIMAL(5, 2),
    engineering_cutoff_marks DECIMAL(5, 2),
    neet_roll_number VARCHAR(50),
    counseling_applied BOOLEAN DEFAULT FALSE,
    counseling_number VARCHAR(50),
    first_graduate BOOLEAN DEFAULT FALSE,
    quota VARCHAR(50),
    category VARCHAR(50),
    institution_id UUID REFERENCES institutions(id),
    degree_id UUID REFERENCES degrees(id),
    department_id UUID REFERENCES departments(id),
    program_id UUID REFERENCES programs(id),
    entry_type VARCHAR(50),
    permanent_address_street TEXT,
    permanent_address_taluk VARCHAR(100),
    permanent_address_district VARCHAR(100),
    permanent_address_pin_code VARCHAR(10),
    permanent_address_state VARCHAR(100),
    student_mobile VARCHAR(20),
    student_email VARCHAR(255),
    accommodation_type VARCHAR(50),
    hostel_type VARCHAR(50),
    bus_required BOOLEAN DEFAULT FALSE,
    bus_route VARCHAR(100),
    bus_pickup_location VARCHAR(255),
    reference_type VARCHAR(50),
    reference_name VARCHAR(255),
    reference_contact VARCHAR(20),
    status admission_status DEFAULT 'pending',
    remarks TEXT,
    created_by UUID REFERENCES profiles(id),
    updated_by UUID REFERENCES profiles(id),
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

-- Students table
CREATE TABLE students (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    admission_id UUID REFERENCES admissions(id),
    student_name VARCHAR(255) NOT NULL,
    father_name VARCHAR(255),
    father_occupation VARCHAR(100),
    father_mobile VARCHAR(20),
    mother_name VARCHAR(255),
    mother_occupation VARCHAR(100),
    mother_mobile VARCHAR(20),
    date_of_birth DATE,
    gender VARCHAR(20),
    religion VARCHAR(50),
    community VARCHAR(100),
    caste VARCHAR(100),
    annual_income DECIMAL(12, 2),
    last_school VARCHAR(255),
    board_of_study VARCHAR(100),
    tenth_marks DECIMAL(5, 2),
    twelfth_marks DECIMAL(5, 2),
    medical_cutoff_marks DECIMAL(5, 2),
    engineering_cutoff_marks DECIMAL(5, 2),
    neet_roll_number VARCHAR(50),
    counseling_applied BOOLEAN DEFAULT FALSE,
    counseling_number VARCHAR(50),
    first_graduate BOOLEAN DEFAULT FALSE,
    quota VARCHAR(50),
    category VARCHAR(50),
    institution_id UUID REFERENCES institutions(id),
    degree_id UUID REFERENCES degrees(id),
    department_id UUID REFERENCES departments(id),
    program_id UUID REFERENCES programs(id),
    academic_year_id UUID REFERENCES academic_years(id),
    semester_id UUID REFERENCES semesters(id),
    section_id UUID REFERENCES sections(id),
    roll_number VARCHAR(50),
    college_email VARCHAR(255),
    institution_email VARCHAR(255),
    entry_type VARCHAR(50),
    permanent_address_street TEXT,
    permanent_address_taluk VARCHAR(100),
    permanent_address_district VARCHAR(100),
    permanent_address_pin_code VARCHAR(10),
    permanent_address_state VARCHAR(100),
    student_mobile VARCHAR(20),
    student_email VARCHAR(255),
    student_personal_email VARCHAR(255),
    accommodation_type VARCHAR(50),
    hostel_type VARCHAR(50),
    bus_required BOOLEAN DEFAULT FALSE,
    bus_route VARCHAR(100),
    bus_pickup_location VARCHAR(255),
    reference_type VARCHAR(50),
    reference_name VARCHAR(255),
    reference_contact VARCHAR(20),
    status student_status DEFAULT 'pending',
    is_profile_complete BOOLEAN DEFAULT FALSE,
    student_photo_url TEXT,
    created_by UUID REFERENCES profiles(id),
    updated_by UUID REFERENCES profiles(id),
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
); 

-- =============================================
-- Billing & Finance Tables
-- =============================================

-- Billing parent categories table
CREATE TABLE billing_parent_categories (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    parent_category_name VARCHAR(255) NOT NULL,
    description TEXT,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

-- Billing sub categories table
CREATE TABLE billing_sub_categories (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    parent_category_id UUID REFERENCES billing_parent_categories(id) NOT NULL,
    sub_category_name VARCHAR(255) NOT NULL,
    description TEXT,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

-- Billing item categories table
CREATE TABLE billing_item_categories (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    institution_id UUID REFERENCES institutions(id) NOT NULL,
    parent_category_id UUID REFERENCES billing_parent_categories(id) NOT NULL,
    sub_category_id UUID REFERENCES billing_sub_categories(id) NOT NULL,
    item_category_name VARCHAR(255) NOT NULL,
    description TEXT,
    default_amount DECIMAL(10, 2),
    is_active BOOLEAN DEFAULT TRUE,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

-- Billing student bills table
CREATE TABLE billing_student_bills (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    student_id UUID REFERENCES students(id) NOT NULL,
    institution_id UUID REFERENCES institutions(id) NOT NULL,
    item_category_id UUID REFERENCES billing_item_categories(id) NOT NULL,
    bill_description TEXT,
    due_date DATE,
    quantity INTEGER DEFAULT 1,
    unit_amount DECIMAL(10, 2) NOT NULL,
    total_amount DECIMAL(10, 2) NOT NULL,
    tax_amount DECIMAL(10, 2) DEFAULT 0,
    final_amount DECIMAL(10, 2) NOT NULL,
    status billing_status DEFAULT 'unpaid',
    payment_date DATE,
    balance_amount DECIMAL(10, 2),
    remarks TEXT,
    is_recurring BOOLEAN DEFAULT FALSE,
    recurrence_pattern VARCHAR(50),
    number_of_recurrences INTEGER,
    created_by UUID REFERENCES profiles(id),
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

-- Billing receipts table
CREATE TABLE billing_receipts (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    receipt_number VARCHAR(50) UNIQUE NOT NULL,
    student_id UUID REFERENCES students(id) NOT NULL,
    institution_id UUID REFERENCES institutions(id) NOT NULL,
    receipt_date DATE NOT NULL,
    payment_amount DECIMAL(10, 2) NOT NULL,
    payment_method VARCHAR(50),
    payment_reference VARCHAR(255),
    created_by UUID REFERENCES profiles(id),
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

-- Billing receipt items table
CREATE TABLE billing_receipt_items (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    receipt_id UUID REFERENCES billing_receipts(id) NOT NULL,
    bill_id UUID REFERENCES billing_student_bills(id) NOT NULL,
    amount_paid DECIMAL(10, 2) NOT NULL,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

-- Billing invoices table
CREATE TABLE billing_invoices (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    invoice_number VARCHAR(50) UNIQUE NOT NULL,
    invoice_date DATE NOT NULL,
    institution_id UUID REFERENCES institutions(id) NOT NULL,
    student_id UUID REFERENCES students(id),
    invoice_type VARCHAR(50) DEFAULT 'individual',
    invoice_description TEXT,
    sub_total DECIMAL(10, 2) NOT NULL,
    tax_amount DECIMAL(10, 2) DEFAULT 0,
    grand_total DECIMAL(10, 2) NOT NULL,
    payment_status VARCHAR(50) DEFAULT 'unpaid',
    created_by UUID REFERENCES profiles(id),
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

-- Billing invoice items table
CREATE TABLE billing_invoice_items (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    invoice_id UUID REFERENCES billing_invoices(id) NOT NULL,
    receipt_id UUID REFERENCES billing_receipts(id),
    item_description TEXT,
    quantity INTEGER DEFAULT 1,
    unit_price DECIMAL(10, 2) NOT NULL,
    total_price DECIMAL(10, 2) NOT NULL,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

-- Billing discounts table
CREATE TABLE billing_discounts (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    student_id UUID REFERENCES students(id) NOT NULL,
    bill_id UUID REFERENCES billing_student_bills(id) NOT NULL,
    discount_type VARCHAR(50),
    discount_percentage DECIMAL(5, 2),
    discount_amount DECIMAL(10, 2) NOT NULL,
    reason TEXT,
    approval_status discount_approval_status DEFAULT 'pending',
    approved_by UUID REFERENCES profiles(id),
    approved_at TIMESTAMP WITH TIME ZONE,
    created_by UUID REFERENCES profiles(id),
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

-- Billing refunds table
CREATE TABLE billing_refunds (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    receipt_id UUID REFERENCES billing_receipts(id) NOT NULL,
    refund_amount DECIMAL(10, 2) NOT NULL,
    refund_reason TEXT,
    refund_date DATE,
    refund_method VARCHAR(50),
    refund_reference VARCHAR(255),
    approval_status refund_status DEFAULT 'pending',
    approved_by UUID REFERENCES profiles(id),
    approved_at TIMESTAMP WITH TIME ZONE,
    processed_by UUID REFERENCES profiles(id),
    processed_at TIMESTAMP WITH TIME ZONE,
    created_by UUID REFERENCES profiles(id),
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
); 

-- =============================================
-- Application Management Tables
-- =============================================

-- Application categories table
CREATE TABLE categories (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    name VARCHAR(255) UNIQUE NOT NULL,
    description TEXT,
    icon TEXT,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

-- Applications table
CREATE TABLE applications (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    name VARCHAR(255) NOT NULL,
    description TEXT,
    logo_url VARCHAR(500),
    category_id UUID REFERENCES categories(id),
    url VARCHAR(500),
    documentation_url VARCHAR(500),
    support_email VARCHAR(255),
    is_active BOOLEAN DEFAULT TRUE,
    access_level VARCHAR(50) DEFAULT 'public',
    tags TEXT[],
    version VARCHAR(50),
    created_by UUID REFERENCES profiles(id),
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

-- Bug reports table
CREATE TABLE bug_reports (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    title VARCHAR(255) NOT NULL,
    description TEXT NOT NULL,
    reproduction_steps TEXT,
    expected_behavior TEXT,
    actual_behavior TEXT,
    severity VARCHAR(20) DEFAULT 'medium',
    category VARCHAR(50),
    browser_info VARCHAR(255),
    browser_version VARCHAR(50),
    screenshot_urls TEXT[],
    status TEXT DEFAULT 'open',
    assignee_id UUID REFERENCES profiles(id),
    reporter_user_id UUID REFERENCES profiles(id) NOT NULL,
    institution_id UUID REFERENCES institutions(id),
    resolved_at TIMESTAMP WITH TIME ZONE,
    resolution_notes TEXT,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

-- Bug report comments table
CREATE TABLE bug_report_comments (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    bug_report_id UUID REFERENCES bug_reports(id) ON DELETE CASCADE NOT NULL,
    user_id UUID REFERENCES profiles(id) NOT NULL,
    comment TEXT NOT NULL,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

-- =============================================
-- Resource Management Tables
-- =============================================

-- Resource categories table
CREATE TABLE resource_categories (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    category_name VARCHAR(100) NOT NULL,
    description TEXT,
    category_type VARCHAR(50) DEFAULT 'physical',
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

-- Resources table
CREATE TABLE resources (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    resource_code VARCHAR(50) UNIQUE NOT NULL,
    resource_name VARCHAR(255) NOT NULL,
    category_id UUID REFERENCES resource_categories(id),
    institution_id UUID REFERENCES institutions(id),
    location VARCHAR(255),
    capacity INTEGER,
    current_condition resource_condition DEFAULT 'good',
    purchase_date DATE,
    purchase_price DECIMAL(10, 2),
    depreciation_rate DECIMAL(5, 2),
    current_value DECIMAL(10, 2),
    maintenance_schedule VARCHAR(100),
    last_maintenance_date DATE,
    next_maintenance_date DATE,
    is_available BOOLEAN DEFAULT TRUE,
    is_bookable BOOLEAN DEFAULT TRUE,
    booking_terms TEXT,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

-- Resource requests table
CREATE TABLE resource_requests (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    request_code VARCHAR(50) UNIQUE NOT NULL,
    requester_id UUID REFERENCES profiles(id) NOT NULL,
    institution_id UUID REFERENCES institutions(id),
    resource_type VARCHAR(50),
    resource_name VARCHAR(255),
    quantity INTEGER DEFAULT 1,
    purpose TEXT,
    priority resource_request_priority DEFAULT 'medium',
    required_date DATE,
    status resource_request_status DEFAULT 'pending',
    department_id UUID REFERENCES departments(id),
    approved_by UUID REFERENCES profiles(id),
    approved_date TIMESTAMP WITH TIME ZONE,
    rejection_reason TEXT,
    fulfilled_date TIMESTAMP WITH TIME ZONE,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

-- Reservations table
CREATE TABLE reservations (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    reservation_code VARCHAR(50) UNIQUE NOT NULL,
    resource_id UUID REFERENCES resources(id) NOT NULL,
    reserved_by UUID REFERENCES profiles(id) NOT NULL,
    institution_id UUID REFERENCES institutions(id),
    start_datetime TIMESTAMP WITH TIME ZONE NOT NULL,
    end_datetime TIMESTAMP WITH TIME ZONE NOT NULL,
    purpose TEXT,
    attendees INTEGER,
    status reservation_status DEFAULT 'pending',
    approved_by UUID REFERENCES profiles(id),
    approval_date TIMESTAMP WITH TIME ZONE,
    cancellation_reason TEXT,
    notes TEXT,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT check_reservation_times CHECK (end_datetime > start_datetime)
);

-- Usage reports table
CREATE TABLE usage_reports (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    resource_id UUID REFERENCES resources(id) NOT NULL,
    reservation_id UUID REFERENCES reservations(id),
    reported_by UUID REFERENCES profiles(id) NOT NULL,
    usage_date DATE NOT NULL,
    start_time TIME,
    end_time TIME,
    actual_users INTEGER,
    condition_after_use resource_condition,
    issues_reported TEXT,
    maintenance_required BOOLEAN DEFAULT FALSE,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

-- Sharing policies table
CREATE TABLE sharing_policies (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    policy_name VARCHAR(100) NOT NULL,
    description TEXT,
    resource_category_id UUID REFERENCES resource_categories(id),
    sharing_type VARCHAR(50),
    max_duration_hours INTEGER,
    advance_booking_days INTEGER,
    requires_approval BOOLEAN DEFAULT TRUE,
    auto_approve_roles user_role[],
    blackout_periods JSONB,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

-- Digital resource categories table
CREATE TABLE digital_resource_categories (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    category_name VARCHAR(100) NOT NULL,
    description TEXT,
    parent_category_id UUID REFERENCES digital_resource_categories(id),
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

-- Digital resources table
CREATE TABLE digital_resources (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    resource_code VARCHAR(50) UNIQUE NOT NULL,
    resource_name VARCHAR(255) NOT NULL,
    category_id UUID REFERENCES digital_resource_categories(id),
    institution_id UUID REFERENCES institutions(id),
    resource_type digital_resource_type NOT NULL,
    vendor_name VARCHAR(255),
    license_type VARCHAR(100),
    license_count INTEGER,
    license_expiry DATE,
    cost_per_license DECIMAL(10, 2),
    total_cost DECIMAL(10, 2),
    access_url VARCHAR(500),
    access_method digital_resource_access_method,
    authentication_method VARCHAR(100),
    technical_requirements TEXT,
    support_contact VARCHAR(255),
    documentation_url VARCHAR(500),
    is_active BOOLEAN DEFAULT TRUE,
    auto_renew BOOLEAN DEFAULT FALSE,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

-- Digital resource usage table
CREATE TABLE digital_resource_usage (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    resource_id UUID REFERENCES digital_resources(id) NOT NULL,
    user_id UUID REFERENCES profiles(id) NOT NULL,
    session_start TIMESTAMP WITH TIME ZONE NOT NULL,
    session_end TIMESTAMP WITH TIME ZONE,
    data_consumed_mb DECIMAL(10, 2),
    features_used TEXT[],
    ip_address INET,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

-- Digital reservations table
CREATE TABLE digital_reservations (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    resource_id UUID REFERENCES digital_resources(id) NOT NULL,
    reserved_by UUID REFERENCES profiles(id) NOT NULL,
    reservation_type VARCHAR(50),
    license_count INTEGER DEFAULT 1,
    start_date DATE NOT NULL,
    end_date DATE NOT NULL,
    purpose TEXT,
    department_id UUID REFERENCES departments(id),
    approved_by UUID REFERENCES profiles(id),
    approval_date TIMESTAMP WITH TIME ZONE,
    status reservation_status DEFAULT 'pending',
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

-- Digital resource requests table
CREATE TABLE digital_resource_requests (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    requester_id UUID REFERENCES profiles(id) NOT NULL,
    institution_id UUID REFERENCES institutions(id),
    resource_name VARCHAR(255) NOT NULL,
    resource_type digital_resource_type NOT NULL,
    vendor_name VARCHAR(255),
    estimated_users INTEGER,
    purpose TEXT NOT NULL,
    business_justification TEXT,
    estimated_cost DECIMAL(10, 2),
    priority resource_request_priority DEFAULT 'medium',
    status resource_request_status DEFAULT 'pending',
    reviewed_by UUID REFERENCES profiles(id),
    review_date TIMESTAMP WITH TIME ZONE,
    review_notes TEXT,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

-- Digital resource reports table
CREATE TABLE digital_resource_reports (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    report_type VARCHAR(50) NOT NULL,
    report_period_start DATE NOT NULL,
    report_period_end DATE NOT NULL,
    generated_by UUID REFERENCES profiles(id) NOT NULL,
    report_data JSONB NOT NULL,
    insights TEXT,
    recommendations TEXT,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

-- =============================================
-- Timetabling Tables
-- =============================================

-- Periods table
CREATE TABLE periods (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    institution_id UUID REFERENCES institutions(id) NOT NULL,
    period_number INTEGER NOT NULL,
    start_time TIME NOT NULL,
    end_time TIME NOT NULL,
    period_type VARCHAR(50) DEFAULT 'regular',
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    UNIQUE(institution_id, period_number)
);

-- Timetables table
CREATE TABLE timetables (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    institution_id UUID REFERENCES institutions(id) NOT NULL,
    academic_year_id UUID REFERENCES academic_years(id) NOT NULL,
    semester_id UUID REFERENCES semesters(id) NOT NULL,
    timetable_name VARCHAR(255) NOT NULL,
    timetable_type timetable_type DEFAULT 'weekly',
    effective_from DATE NOT NULL,
    effective_to DATE,
    is_active BOOLEAN DEFAULT TRUE,
    created_by UUID REFERENCES profiles(id),
    approved_by UUID REFERENCES profiles(id),
    approved_at TIMESTAMP WITH TIME ZONE,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

-- Timetable slots table
CREATE TABLE timetable_slots (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    timetable_id UUID REFERENCES timetables(id) NOT NULL,
    day_of_week day_of_week,
    day_order INTEGER,
    period_id UUID REFERENCES periods(id) NOT NULL,
    slot_type VARCHAR(50) DEFAULT 'regular',
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

-- Timetable slot sections table
CREATE TABLE timetable_slot_sections (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    slot_id UUID REFERENCES timetable_slots(id) NOT NULL,
    section_id UUID REFERENCES sections(id) NOT NULL,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    UNIQUE(slot_id, section_id)
);

-- Timetable slot staff table
CREATE TABLE timetable_slot_staff (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    slot_id UUID REFERENCES timetable_slots(id) NOT NULL,
    staff_id UUID REFERENCES staff(id) NOT NULL,
    course_id UUID REFERENCES courses(id) NOT NULL,
    room_number VARCHAR(50),
    is_primary BOOLEAN DEFAULT TRUE,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    UNIQUE(slot_id, staff_id, course_id)
);

-- Timetable sub slot sections table
CREATE TABLE timetable_sub_slot_sections (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    slot_id UUID REFERENCES timetable_slots(id) NOT NULL,
    sub_slot_number INTEGER NOT NULL,
    section_id UUID REFERENCES sections(id) NOT NULL,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    UNIQUE(slot_id, sub_slot_number, section_id)
);

-- Timetable sub slot staff table
CREATE TABLE timetable_sub_slot_staff (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    slot_id UUID REFERENCES timetable_slots(id) NOT NULL,
    sub_slot_number INTEGER NOT NULL,
    staff_id UUID REFERENCES staff(id) NOT NULL,
    course_id UUID REFERENCES courses(id) NOT NULL,
    room_number VARCHAR(50),
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    UNIQUE(slot_id, sub_slot_number, staff_id)
);

-- Timetable periods table
CREATE TABLE timetable_periods (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    timetable_id UUID REFERENCES timetables(id) NOT NULL,
    period_id UUID REFERENCES periods(id) NOT NULL,
    day_of_week day_of_week,
    day_order INTEGER,
    course_id UUID REFERENCES courses(id),
    section_id UUID REFERENCES sections(id),
    staff_id UUID REFERENCES staff(id),
    room_number VARCHAR(50),
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

-- Timetable leaves table
CREATE TABLE timetable_leaves (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    institution_id UUID REFERENCES institutions(id) NOT NULL,
    leave_date DATE NOT NULL,
    leave_type leave_type NOT NULL,
    description TEXT,
    affects_classes BOOLEAN DEFAULT TRUE,
    created_by UUID REFERENCES profiles(id),
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

-- Timetable day order shifts table
CREATE TABLE timetable_day_order_shifts (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    institution_id UUID REFERENCES institutions(id) NOT NULL,
    original_date DATE NOT NULL,
    shifted_day_order INTEGER NOT NULL,
    reason TEXT,
    created_by UUID REFERENCES profiles(id),
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    UNIQUE(institution_id, original_date)
);

-- Staff plans table
CREATE TABLE staff_plans (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    institution_id UUID REFERENCES institutions(id) NOT NULL,
    academic_year_id UUID REFERENCES academic_years(id) NOT NULL,
    staff_id UUID REFERENCES staff(id) NOT NULL,
    semester_id UUID REFERENCES semesters(id) NOT NULL,
    total_periods_assigned INTEGER DEFAULT 0,
    max_periods_per_week INTEGER,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    UNIQUE(institution_id, academic_year_id, staff_id, semester_id)
);

-- Staff plan courses table
CREATE TABLE staff_plan_courses (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    staff_plan_id UUID REFERENCES staff_plans(id) NOT NULL,
    course_id UUID REFERENCES courses(id) NOT NULL,
    section_id UUID REFERENCES sections(id) NOT NULL,
    periods_per_week INTEGER NOT NULL,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    UNIQUE(staff_plan_id, course_id, section_id)
);

-- =============================================
-- Attendance Management Tables
-- =============================================

-- Student attendance table
CREATE TABLE student_attendance (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    student_id UUID REFERENCES students(id) NOT NULL,
    course_id UUID REFERENCES courses(id) NOT NULL,
    section_id UUID REFERENCES sections(id) NOT NULL,
    staff_id UUID REFERENCES staff(id),
    period_id UUID REFERENCES periods(id),
    attendance_date DATE NOT NULL,
    status attendance_status NOT NULL,
    remarks TEXT,
    marked_by UUID REFERENCES profiles(id),
    marked_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    UNIQUE(student_id, course_id, attendance_date, period_id)
);

-- Subcategories table (generic)
CREATE TABLE subcategories (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    parent_category_id UUID REFERENCES categories(id) NOT NULL,
    name VARCHAR(255) NOT NULL,
    description TEXT,
    icon VARCHAR(50),
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

-- =============================================
-- Dashboard Configuration Tables
-- =============================================

-- Dashboard widget types table
CREATE TABLE dashboard_widget_types (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    widget_key VARCHAR(50) UNIQUE NOT NULL,
    widget_name VARCHAR(100) NOT NULL,
    description TEXT,
    default_config JSONB DEFAULT '{}',
    allowed_roles user_role[],
    is_active BOOLEAN DEFAULT TRUE,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

-- Dashboard configurations table
CREATE TABLE dashboard_configurations (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    user_id UUID REFERENCES profiles(id) NOT NULL,
    institution_id UUID REFERENCES institutions(id),
    config_name VARCHAR(100) DEFAULT 'Default',
    is_default BOOLEAN DEFAULT FALSE,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    UNIQUE(user_id, institution_id, config_name)
);

-- Dashboard widgets table
CREATE TABLE dashboard_widgets (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    configuration_id UUID REFERENCES dashboard_configurations(id) NOT NULL,
    widget_type_id UUID REFERENCES dashboard_widget_types(id) NOT NULL,
    position_x INTEGER DEFAULT 0,
    position_y INTEGER DEFAULT 0,
    width INTEGER DEFAULT 4,
    height INTEGER DEFAULT 3,
    widget_config JSONB DEFAULT '{}',
    is_visible BOOLEAN DEFAULT TRUE,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
); 
-- =============================================
-- Database Indexes
-- =============================================

-- Core Tables Indexes
CREATE INDEX idx_profiles_email ON profiles(email);
CREATE INDEX idx_profiles_institution_id ON profiles(institution_id);
CREATE INDEX idx_profiles_role ON profiles(role);
CREATE INDEX idx_user_activity_logs_created_at ON user_activity_logs(created_at);
CREATE INDEX idx_user_activity_logs_session_id ON user_activity_logs(session_id);
CREATE INDEX idx_user_activity_logs_user_id ON user_activity_logs(user_id);
CREATE INDEX idx_api_keys_key_value ON api_keys(key_value);
CREATE INDEX idx_api_keys_user_id ON api_keys(user_id);
CREATE INDEX idx_api_request_logs_api_key_id ON api_request_logs(api_key_id);
CREATE INDEX idx_api_request_logs_timestamp ON api_request_logs(timestamp);

-- Academic Tables Indexes
CREATE INDEX idx_degrees_institution_id ON degrees(institution_id);
CREATE INDEX idx_departments_institution_id ON departments(institution_id);
CREATE INDEX idx_programs_department_id ON programs(department_id);
CREATE INDEX idx_programs_institution_id ON programs(institution_id);
CREATE INDEX idx_sections_institution_id ON sections(institution_id);
CREATE INDEX idx_sections_program_id ON sections(program_id);
CREATE INDEX idx_courses_institution_id ON courses(institution_id);
CREATE INDEX idx_course_mappings_course_id ON course_mappings(course_id);
CREATE INDEX idx_course_mappings_institution_id ON course_mappings(institution_id);
CREATE INDEX idx_academic_years_institution_id ON academic_years(institution_id);
CREATE INDEX idx_academic_years_is_active ON academic_years(is_active);

-- Staff & Student Tables Indexes
CREATE INDEX idx_staff_institution_id ON staff(institution_id);
CREATE INDEX idx_staff_department_id ON staff(department_id);
CREATE INDEX idx_staff_staff_id ON staff(staff_id);
CREATE INDEX idx_admissions_institution_id ON admissions(institution_id);
CREATE INDEX idx_admissions_status ON admissions(status);
CREATE INDEX idx_students_institution_id ON students(institution_id);
CREATE INDEX idx_students_roll_number ON students(roll_number);
CREATE INDEX idx_students_status ON students(status);
CREATE INDEX idx_students_section_id ON students(section_id);

-- Billing Tables Indexes
CREATE INDEX idx_billing_student_bills_student_id ON billing_student_bills(student_id);
CREATE INDEX idx_billing_student_bills_institution_id ON billing_student_bills(institution_id);
CREATE INDEX idx_billing_student_bills_status ON billing_student_bills(status);
CREATE INDEX idx_billing_student_bills_due_date ON billing_student_bills(due_date);
CREATE INDEX idx_billing_receipts_receipt_number ON billing_receipts(receipt_number);
CREATE INDEX idx_billing_receipts_student_id ON billing_receipts(student_id);
CREATE INDEX idx_billing_receipt_items_receipt_id ON billing_receipt_items(receipt_id);
CREATE INDEX idx_billing_receipt_items_bill_id ON billing_receipt_items(bill_id);
CREATE INDEX idx_billing_invoices_invoice_number ON billing_invoices(invoice_number);
CREATE INDEX idx_billing_invoices_student_id ON billing_invoices(student_id);
CREATE INDEX idx_billing_invoice_items_invoice_id ON billing_invoice_items(invoice_id);
CREATE INDEX idx_billing_discounts_student_id ON billing_discounts(student_id);
CREATE INDEX idx_billing_discounts_bill_id ON billing_discounts(bill_id);
CREATE INDEX idx_billing_refunds_receipt_id ON billing_refunds(receipt_id);

-- Application & Bug Reports Indexes
CREATE INDEX idx_applications_category_id ON applications(category_id);
CREATE INDEX idx_applications_is_active ON applications(is_active);
CREATE INDEX idx_bug_reports_status ON bug_reports(status);
CREATE INDEX idx_bug_reports_reporter_user_id ON bug_reports(reporter_user_id);
CREATE INDEX idx_bug_reports_assignee_id ON bug_reports(assignee_id);
CREATE INDEX idx_bug_report_comments_bug_report_id ON bug_report_comments(bug_report_id);

-- Resource Management Indexes
CREATE INDEX idx_resources_institution_id ON resources(institution_id);
CREATE INDEX idx_resources_category_id ON resources(category_id);
CREATE INDEX idx_resources_is_available ON resources(is_available);
CREATE INDEX idx_resource_requests_requester_id ON resource_requests(requester_id);
CREATE INDEX idx_resource_requests_status ON resource_requests(status);
CREATE INDEX idx_reservations_resource_id ON reservations(resource_id);
CREATE INDEX idx_reservations_reserved_by ON reservations(reserved_by);
CREATE INDEX idx_reservations_start_datetime ON reservations(start_datetime);
CREATE INDEX idx_reservations_status ON reservations(status);
CREATE INDEX idx_digital_resources_institution_id ON digital_resources(institution_id);
CREATE INDEX idx_digital_resources_is_active ON digital_resources(is_active);
CREATE INDEX idx_digital_resource_usage_resource_id ON digital_resource_usage(resource_id);
CREATE INDEX idx_digital_resource_usage_user_id ON digital_resource_usage(user_id);

-- Timetabling Indexes
CREATE INDEX idx_periods_institution_id ON periods(institution_id);
CREATE INDEX idx_timetables_institution_id ON timetables(institution_id);
CREATE INDEX idx_timetables_academic_year_id ON timetables(academic_year_id);
CREATE INDEX idx_timetables_is_active ON timetables(is_active);
CREATE INDEX idx_timetable_slots_timetable_id ON timetable_slots(timetable_id);
CREATE INDEX idx_timetable_slot_sections_slot_id ON timetable_slot_sections(slot_id);
CREATE INDEX idx_timetable_slot_staff_slot_id ON timetable_slot_staff(slot_id);
CREATE INDEX idx_timetable_periods_timetable_id ON timetable_periods(timetable_id);
CREATE INDEX idx_staff_plans_staff_id ON staff_plans(staff_id);
CREATE INDEX idx_staff_plan_courses_staff_plan_id ON staff_plan_courses(staff_plan_id);

-- Attendance Indexes
CREATE INDEX idx_student_attendance_student_id ON student_attendance(student_id);
CREATE INDEX idx_student_attendance_course_id ON student_attendance(course_id);
CREATE INDEX idx_student_attendance_attendance_date ON student_attendance(attendance_date);
CREATE INDEX idx_student_attendance_section_id ON student_attendance(section_id);

-- Dashboard Indexes
CREATE INDEX idx_dashboard_configurations_user_id ON dashboard_configurations(user_id);
CREATE INDEX idx_dashboard_widgets_configuration_id ON dashboard_widgets(configuration_id);

-- Full Text Search Indexes (using pg_trgm)
CREATE INDEX idx_profiles_full_name_trgm ON profiles USING gin(full_name gin_trgm_ops);
CREATE INDEX idx_staff_staff_name_trgm ON staff USING gin(staff_name gin_trgm_ops);
CREATE INDEX idx_students_student_name_trgm ON students USING gin(student_name gin_trgm_ops);
CREATE INDEX idx_courses_course_name_trgm ON courses USING gin(course_name gin_trgm_ops);
CREATE INDEX idx_applications_name_trgm ON applications USING gin(name gin_trgm_ops);
CREATE INDEX idx_bug_reports_title_trgm ON bug_reports USING gin(title gin_trgm_ops);

-- Composite Indexes for Common Queries
CREATE INDEX idx_students_institution_program ON students(institution_id, program_id);
CREATE INDEX idx_billing_bills_student_status ON billing_student_bills(student_id, status);
CREATE INDEX idx_attendance_student_date ON student_attendance(student_id, attendance_date);
CREATE INDEX idx_timetable_slots_day_period ON timetable_slots(timetable_id, day_of_week, period_id);

-- JSONB Indexes
CREATE INDEX idx_custom_roles_permissions ON custom_roles USING gin(permissions);
CREATE INDEX idx_api_keys_permissions ON api_keys USING gin(permissions);
CREATE INDEX idx_user_activity_logs_details ON user_activity_logs USING gin(details);
CREATE INDEX idx_dashboard_widgets_config ON dashboard_widgets USING gin(widget_config); 
-- =============================================
-- Database Functions
-- =============================================

-- Function to handle new user creation
CREATE OR REPLACE FUNCTION handle_new_user()
RETURNS trigger AS $$
BEGIN
  INSERT INTO profiles (id, email)
  VALUES (new.id, new.email);
  RETURN new;
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

-- Function to update updated_at timestamp
CREATE OR REPLACE FUNCTION update_updated_at_column()
RETURNS trigger AS $$
BEGIN
  NEW.updated_at = NOW();
  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

-- Function to check if user has access to institution
CREATE OR REPLACE FUNCTION user_has_institution_access(user_id uuid, institution_id uuid)
RETURNS boolean AS $$
BEGIN
  RETURN EXISTS (
    SELECT 1
    FROM profiles p
    LEFT JOIN user_institution_access uia ON p.id = uia.user_id
    WHERE p.id = user_id
    AND (
      p.is_super_admin = true
      OR p.institution_id = institution_id
      OR (uia.institution_id = institution_id AND uia.is_active = true)
    )
  );
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

-- Function to get user's accessible institutions
CREATE OR REPLACE FUNCTION get_user_institutions(user_id uuid)
RETURNS SETOF institutions AS $$
BEGIN
  RETURN QUERY
  SELECT DISTINCT i.*
  FROM institutions i
  WHERE EXISTS (
    SELECT 1
    FROM profiles p
    LEFT JOIN user_institution_access uia ON p.id = uia.user_id
    WHERE p.id = user_id
    AND (
      p.is_super_admin = true
      OR p.institution_id = i.id
      OR (uia.institution_id = i.id AND uia.is_active = true)
    )
  );
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

-- Function to update billing receipt number sequence
CREATE OR REPLACE FUNCTION update_receipt_number_sequence()
RETURNS trigger AS $$
DECLARE
  last_number INTEGER;
  new_number VARCHAR(50);
  institution_code VARCHAR(10);
BEGIN
  -- Get institution code (first 3 letters)
  SELECT UPPER(LEFT(name, 3)) INTO institution_code
  FROM institutions
  WHERE id = NEW.institution_id;
  
  -- Get the last receipt number for this institution
  SELECT COALESCE(MAX(CAST(SUBSTRING(receipt_number FROM '[0-9]+$') AS INTEGER)), 0) INTO last_number
  FROM billing_receipts
  WHERE institution_id = NEW.institution_id
  AND receipt_number LIKE institution_code || '-RCP-%';
  
  -- Generate new receipt number
  new_number := institution_code || '-RCP-' || LPAD((last_number + 1)::TEXT, 6, '0');
  
  NEW.receipt_number := new_number;
  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

-- Function to update billing invoice number sequence
CREATE OR REPLACE FUNCTION update_invoice_number_sequence()
RETURNS trigger AS $$
DECLARE
  last_number INTEGER;
  new_number VARCHAR(50);
  institution_code VARCHAR(10);
BEGIN
  -- Get institution code (first 3 letters)
  SELECT UPPER(LEFT(name, 3)) INTO institution_code
  FROM institutions
  WHERE id = NEW.institution_id;
  
  -- Get the last invoice number for this institution
  SELECT COALESCE(MAX(CAST(SUBSTRING(invoice_number FROM '[0-9]+$') AS INTEGER)), 0) INTO last_number
  FROM billing_invoices
  WHERE institution_id = NEW.institution_id
  AND invoice_number LIKE institution_code || '-INV-%';
  
  -- Generate new invoice number
  new_number := institution_code || '-INV-' || LPAD((last_number + 1)::TEXT, 6, '0');
  
  NEW.invoice_number := new_number;
  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

-- Function to update bill balance when payment is made
CREATE OR REPLACE FUNCTION update_bill_balance_on_payment()
RETURNS trigger AS $$
BEGIN
  -- Update the bill balance
  UPDATE billing_student_bills
  SET balance_amount = balance_amount - NEW.amount_paid,
      status = CASE 
        WHEN balance_amount - NEW.amount_paid <= 0 THEN 'paid'::billing_status
        WHEN balance_amount - NEW.amount_paid < final_amount THEN 'partially_paid'::billing_status
        ELSE status
      END,
      payment_date = CASE 
        WHEN balance_amount - NEW.amount_paid <= 0 THEN CURRENT_DATE
        ELSE payment_date
      END
  WHERE id = NEW.bill_id;
  
  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

-- Function to update bill balance when payment is deleted
CREATE OR REPLACE FUNCTION update_bill_balance_on_payment_delete()
RETURNS trigger AS $$
BEGIN
  -- Update the bill balance
  UPDATE billing_student_bills
  SET balance_amount = balance_amount + OLD.amount_paid,
      status = CASE 
        WHEN balance_amount + OLD.amount_paid >= final_amount THEN 'unpaid'::billing_status
        ELSE 'partially_paid'::billing_status
      END,
      payment_date = CASE 
        WHEN balance_amount + OLD.amount_paid >= final_amount THEN NULL
        ELSE payment_date
      END
  WHERE id = OLD.bill_id;
  
  RETURN OLD;
END;
$$ LANGUAGE plpgsql;

-- Function to calculate student attendance percentage
CREATE OR REPLACE FUNCTION calculate_attendance_percentage(
  p_student_id uuid,
  p_course_id uuid,
  p_start_date date DEFAULT NULL,
  p_end_date date DEFAULT NULL
)
RETURNS TABLE(
  total_classes integer,
  present_count integer,
  absent_count integer,
  percentage numeric
) AS $$
BEGIN
  RETURN QUERY
  SELECT 
    COUNT(*)::integer AS total_classes,
    COUNT(CASE WHEN status = 'present' THEN 1 END)::integer AS present_count,
    COUNT(CASE WHEN status = 'absent' THEN 1 END)::integer AS absent_count,
    CASE 
      WHEN COUNT(*) > 0 THEN 
        ROUND((COUNT(CASE WHEN status = 'present' THEN 1 END)::numeric / COUNT(*)::numeric) * 100, 2)
      ELSE 0
    END AS percentage
  FROM student_attendance
  WHERE student_id = p_student_id
    AND course_id = p_course_id
    AND (p_start_date IS NULL OR attendance_date >= p_start_date)
    AND (p_end_date IS NULL OR attendance_date <= p_end_date);
END;
$$ LANGUAGE plpgsql;

-- Function to get available time slots for resource booking
CREATE OR REPLACE FUNCTION get_available_slots(
  p_resource_id uuid,
  p_date date,
  p_duration_hours integer
)
RETURNS TABLE(
  start_time time,
  end_time time,
  is_available boolean
) AS $$
BEGIN
  RETURN QUERY
  WITH time_slots AS (
    SELECT 
      generate_series(
        '08:00:00'::time,
        '17:00:00'::time,
        interval '1 hour'
      ) AS slot_start
  ),
  existing_reservations AS (
    SELECT 
      start_datetime::time AS start_time,
      end_datetime::time AS end_time
    FROM reservations
    WHERE resource_id = p_resource_id
      AND start_datetime::date = p_date
      AND status IN ('pending', 'approved')
  )
  SELECT 
    ts.slot_start AS start_time,
    (ts.slot_start + (p_duration_hours || ' hours')::interval)::time AS end_time,
    NOT EXISTS (
      SELECT 1
      FROM existing_reservations er
      WHERE (ts.slot_start, (ts.slot_start + (p_duration_hours || ' hours')::interval)::time) 
        OVERLAPS (er.start_time, er.end_time)
    ) AS is_available
  FROM time_slots ts
  WHERE ts.slot_start + (p_duration_hours || ' hours')::interval <= '18:00:00'::time;
END;
$$ LANGUAGE plpgsql;

-- Function to generate day order for a date
CREATE OR REPLACE FUNCTION get_day_order_for_date(
  p_institution_id uuid,
  p_date date
)
RETURNS integer AS $$
DECLARE
  v_day_order integer;
  v_start_date date;
  v_working_days integer;
  v_max_day_order integer;
BEGIN
  -- Check if there's a manual shift for this date
  SELECT shifted_day_order INTO v_day_order
  FROM timetable_day_order_shifts
  WHERE institution_id = p_institution_id
    AND original_date = p_date;
  
  IF v_day_order IS NOT NULL THEN
    RETURN v_day_order;
  END IF;
  
  -- Get the academic year start date
  SELECT start_date INTO v_start_date
  FROM academic_years
  WHERE institution_id = p_institution_id
    AND is_active = true
  LIMIT 1;
  
  IF v_start_date IS NULL THEN
    RETURN 1; -- Default if no active academic year
  END IF;
  
  -- Count working days (excluding Sundays and holidays)
  SELECT COUNT(*)::integer INTO v_working_days
  FROM generate_series(v_start_date, p_date - interval '1 day', interval '1 day') AS d
  WHERE EXTRACT(dow FROM d) != 0 -- Not Sunday
    AND NOT EXISTS (
      SELECT 1
      FROM timetable_leaves
      WHERE institution_id = p_institution_id
        AND leave_date = d::date
        AND affects_classes = true
    );
  
  -- Get max day order (usually 5 or 6)
  v_max_day_order := 5; -- Default, should be configurable per institution
  
  -- Calculate day order
  v_day_order := (v_working_days % v_max_day_order) + 1;
  
  RETURN v_day_order;
END;
$$ LANGUAGE plpgsql;

-- Function to automatically generate invoice after bill payment
CREATE OR REPLACE FUNCTION generate_invoice_for_paid_bills()
RETURNS trigger AS $$
DECLARE
  v_invoice_id uuid;
  v_invoice_number varchar(50);
  v_institution_code varchar(10);
  v_last_number integer;
BEGIN
  -- Only proceed if the bill is being marked as paid and payment_date is being set
  IF NEW.status = 'paid' AND OLD.status != 'paid' AND NEW.payment_date IS NOT NULL THEN
    
    -- Check if an auto-generated invoice already exists for this bill
    IF EXISTS (
      SELECT 1 
      FROM billing_invoices i
      JOIN billing_invoice_items ii ON i.id = ii.invoice_id
      JOIN billing_receipt_items ri ON ii.receipt_id = ri.receipt_id
      WHERE ri.bill_id = NEW.id
      AND i.invoice_type = 'individual'
      AND i.invoice_description LIKE 'Payment Invoice for:%'
    ) THEN
      RETURN NEW; -- Invoice already exists, skip
    END IF;
    
    -- Get institution code
    SELECT UPPER(LEFT(name, 3)) INTO v_institution_code
    FROM institutions
    WHERE id = NEW.institution_id;
    
    -- Get the last invoice number
    SELECT COALESCE(MAX(CAST(SUBSTRING(invoice_number FROM '[0-9]+$') AS INTEGER)), 0) INTO v_last_number
    FROM billing_invoices
    WHERE institution_id = NEW.institution_id
    AND invoice_number LIKE v_institution_code || '-INV-%';
    
    -- Generate new invoice number
    v_invoice_number := v_institution_code || '-INV-' || LPAD((v_last_number + 1)::TEXT, 6, '0');
    
    -- Create the invoice
    INSERT INTO billing_invoices (
      invoice_number,
      invoice_date,
      institution_id,
      student_id,
      invoice_type,
      invoice_description,
      sub_total,
      tax_amount,
      grand_total,
      payment_status,
      created_by
    ) VALUES (
      v_invoice_number,
      NEW.payment_date,
      NEW.institution_id,
      NEW.student_id,
      'individual',
      'Payment Invoice for: ' || NEW.bill_description,
      NEW.final_amount,
      0,
      NEW.final_amount,
      'paid',
      NEW.created_by
    ) RETURNING id INTO v_invoice_id;
    
    -- Create invoice items for each receipt item related to this bill
    INSERT INTO billing_invoice_items (
      invoice_id,
      receipt_id,
      item_description,
      quantity,
      unit_price,
      total_price
    )
    SELECT 
      v_invoice_id,
      ri.receipt_id,
      'Payment for: ' || NEW.bill_description,
      1,
      ri.amount_paid,
      ri.amount_paid
    FROM billing_receipt_items ri
    WHERE ri.bill_id = NEW.id;
    
  END IF;
  
  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

-- Function to handle discount approval
CREATE OR REPLACE FUNCTION handle_discount_approval()
RETURNS trigger AS $$
BEGIN
  -- When a discount is approved, update the bill amount
  IF NEW.approval_status = 'approved' AND OLD.approval_status != 'approved' THEN
    UPDATE billing_student_bills
    SET final_amount = final_amount - NEW.discount_amount,
        balance_amount = CASE
          WHEN balance_amount > 0 THEN balance_amount - NEW.discount_amount
          ELSE balance_amount
        END
    WHERE id = NEW.bill_id;
    
    NEW.approved_at = NOW();
  END IF;
  
  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

-- Function to initialize materialized view activity_stats
CREATE OR REPLACE FUNCTION refresh_activity_stats()
RETURNS void AS $$
BEGIN
  REFRESH MATERIALIZED VIEW activity_stats;
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

-- Function to initialize materialized view mv_student_billing_summary
CREATE OR REPLACE FUNCTION refresh_student_billing_summary()
RETURNS void AS $$
BEGIN
  REFRESH MATERIALIZED VIEW mv_student_billing_summary;
END;
$$ LANGUAGE plpgsql SECURITY DEFINER; 
-- =============================================
-- Database Triggers
-- =============================================

-- Trigger to handle new user creation
CREATE TRIGGER on_auth_user_created
  AFTER INSERT ON auth.users
  FOR EACH ROW EXECUTE FUNCTION handle_new_user();

-- Triggers for updated_at column
CREATE TRIGGER update_institutions_updated_at BEFORE UPDATE ON institutions
  FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_profiles_updated_at BEFORE UPDATE ON profiles
  FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_user_institution_access_updated_at BEFORE UPDATE ON user_institution_access
  FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_custom_roles_updated_at BEFORE UPDATE ON custom_roles
  FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_user_activity_logs_updated_at BEFORE UPDATE ON user_activity_logs
  FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_api_keys_updated_at BEFORE UPDATE ON api_keys
  FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

-- Academic tables triggers
CREATE TRIGGER update_degrees_updated_at BEFORE UPDATE ON degrees
  FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_departments_updated_at BEFORE UPDATE ON departments
  FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_programs_updated_at BEFORE UPDATE ON programs
  FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_semesters_updated_at BEFORE UPDATE ON semesters
  FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_sections_updated_at BEFORE UPDATE ON sections
  FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_courses_updated_at BEFORE UPDATE ON courses
  FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_course_mappings_updated_at BEFORE UPDATE ON course_mappings
  FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_academic_years_updated_at BEFORE UPDATE ON academic_years
  FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

-- Staff & Student triggers
CREATE TRIGGER update_employment_categories_updated_at BEFORE UPDATE ON employment_categories
  FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_staff_updated_at BEFORE UPDATE ON staff
  FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_admissions_updated_at BEFORE UPDATE ON admissions
  FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_students_updated_at BEFORE UPDATE ON students
  FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

-- Billing triggers
CREATE TRIGGER update_billing_parent_categories_updated_at BEFORE UPDATE ON billing_parent_categories
  FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_billing_sub_categories_updated_at BEFORE UPDATE ON billing_sub_categories
  FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_billing_item_categories_updated_at BEFORE UPDATE ON billing_item_categories
  FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_billing_student_bills_updated_at BEFORE UPDATE ON billing_student_bills
  FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_billing_receipts_updated_at BEFORE UPDATE ON billing_receipts
  FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_billing_invoices_updated_at BEFORE UPDATE ON billing_invoices
  FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_billing_discounts_updated_at BEFORE UPDATE ON billing_discounts
  FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_billing_refunds_updated_at BEFORE UPDATE ON billing_refunds
  FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

-- Application & Bug Report triggers
CREATE TRIGGER update_categories_updated_at BEFORE UPDATE ON categories
  FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_applications_updated_at BEFORE UPDATE ON applications
  FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_bug_reports_updated_at BEFORE UPDATE ON bug_reports
  FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_bug_report_comments_updated_at BEFORE UPDATE ON bug_report_comments
  FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

-- Resource Management triggers
CREATE TRIGGER update_resource_categories_updated_at BEFORE UPDATE ON resource_categories
  FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_resources_updated_at BEFORE UPDATE ON resources
  FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_resource_requests_updated_at BEFORE UPDATE ON resource_requests
  FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_reservations_updated_at BEFORE UPDATE ON reservations
  FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_sharing_policies_updated_at BEFORE UPDATE ON sharing_policies
  FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_digital_resource_categories_updated_at BEFORE UPDATE ON digital_resource_categories
  FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_digital_resources_updated_at BEFORE UPDATE ON digital_resources
  FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_digital_reservations_updated_at BEFORE UPDATE ON digital_reservations
  FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_digital_resource_requests_updated_at BEFORE UPDATE ON digital_resource_requests
  FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

-- Timetabling triggers
CREATE TRIGGER update_periods_updated_at BEFORE UPDATE ON periods
  FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_timetables_updated_at BEFORE UPDATE ON timetables
  FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_timetable_slots_updated_at BEFORE UPDATE ON timetable_slots
  FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_timetable_periods_updated_at BEFORE UPDATE ON timetable_periods
  FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_timetable_leaves_updated_at BEFORE UPDATE ON timetable_leaves
  FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_staff_plans_updated_at BEFORE UPDATE ON staff_plans
  FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

-- Attendance triggers
CREATE TRIGGER update_student_attendance_updated_at BEFORE UPDATE ON student_attendance
  FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

-- Dashboard triggers
CREATE TRIGGER update_dashboard_widget_types_updated_at BEFORE UPDATE ON dashboard_widget_types
  FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_dashboard_configurations_updated_at BEFORE UPDATE ON dashboard_configurations
  FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_dashboard_widgets_updated_at BEFORE UPDATE ON dashboard_widgets
  FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_subcategories_updated_at BEFORE UPDATE ON subcategories
  FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

-- Billing sequence triggers
CREATE TRIGGER generate_receipt_number BEFORE INSERT ON billing_receipts
  FOR EACH ROW WHEN (NEW.receipt_number IS NULL OR NEW.receipt_number = '')
  EXECUTE FUNCTION update_receipt_number_sequence();

CREATE TRIGGER generate_invoice_number BEFORE INSERT ON billing_invoices
  FOR EACH ROW WHEN (NEW.invoice_number IS NULL OR NEW.invoice_number = '')
  EXECUTE FUNCTION update_invoice_number_sequence();

-- Billing balance update triggers
CREATE TRIGGER update_bill_balance_after_payment AFTER INSERT ON billing_receipt_items
  FOR EACH ROW EXECUTE FUNCTION update_bill_balance_on_payment();

CREATE TRIGGER update_bill_balance_after_payment_delete AFTER DELETE ON billing_receipt_items
  FOR EACH ROW EXECUTE FUNCTION update_bill_balance_on_payment_delete();

-- Billing discount approval trigger
CREATE TRIGGER handle_discount_approval_trigger BEFORE UPDATE ON billing_discounts
  FOR EACH ROW WHEN (OLD.approval_status IS DISTINCT FROM NEW.approval_status)
  EXECUTE FUNCTION handle_discount_approval();

-- Auto invoice generation trigger
CREATE TRIGGER generate_invoice_on_bill_payment AFTER UPDATE ON billing_student_bills
  FOR EACH ROW WHEN (OLD.status IS DISTINCT FROM NEW.status)
  EXECUTE FUNCTION generate_invoice_for_paid_bills(); 
-- =============================================
-- Database Views
-- =============================================

-- View for auto-generated invoices
CREATE VIEW auto_generated_invoices AS
SELECT 
    i.id,
    i.invoice_number,
    i.invoice_date,
    i.grand_total,
    i.student_id,
    s.student_name,
    s.roll_number,
    inst.name AS institution_name,
    replace(i.invoice_description, 'Payment Invoice for: '::text, ''::text) AS original_bill_description,
    (SELECT count(*) AS count
     FROM billing_invoice_items ii
     WHERE (ii.invoice_id = i.id)) AS receipt_count,
    i.created_at
FROM billing_invoices i
JOIN students s ON i.student_id = s.id
JOIN institutions inst ON i.institution_id = inst.id
WHERE i.invoice_type = 'individual'
  AND i.invoice_description LIKE 'Payment Invoice for:%'
ORDER BY i.created_at DESC;

-- View for bill invoice relationships
CREATE VIEW bill_invoice_relationships AS
SELECT 
    b.id AS bill_id,
    b.bill_description,
    b.status AS bill_status,
    b.final_amount AS bill_amount,
    b.payment_date,
    s.student_name,
    i.id AS invoice_id,
    i.invoice_number,
    i.grand_total AS invoice_amount,
    i.created_at AS invoice_created_at,
    CASE
        WHEN i.id IS NOT NULL THEN 'Yes'
        ELSE 'No'
    END AS has_auto_invoice
FROM billing_student_bills b
JOIN students s ON b.student_id = s.id
LEFT JOIN billing_receipt_items ri ON ri.receipt_id IN (
    SELECT billing_receipt_items.receipt_id
    FROM billing_receipt_items
    WHERE billing_receipt_items.bill_id = b.id
)
LEFT JOIN billing_invoice_items ii ON ii.receipt_id = ri.receipt_id
LEFT JOIN billing_invoices i ON i.id = ii.invoice_id 
    AND i.invoice_type = 'individual' 
    AND i.invoice_description LIKE 'Payment Invoice for:%'
WHERE b.status = 'paid'
ORDER BY b.payment_date DESC;

-- View for bug reporters leaderboard
CREATE VIEW bug_reporters_leaderboard AS
SELECT 
    p.id AS user_id,
    p.full_name AS user_name,
    p.avatar_url,
    count(br.id) AS resolved_bugs_count
FROM profiles p
JOIN bug_reports br ON p.id = br.reporter_user_id
WHERE br.status = 'resolved'
GROUP BY p.id, p.full_name, p.avatar_url
ORDER BY count(br.id) DESC;

-- View for detailed bill information
CREATE VIEW v_bill_details AS
SELECT 
    b.id,
    b.student_id,
    b.institution_id,
    b.item_category_id,
    b.bill_description,
    b.due_date,
    b.quantity,
    b.unit_amount,
    b.total_amount,
    b.tax_amount,
    b.final_amount,
    b.status,
    b.payment_date,
    b.balance_amount,
    b.remarks,
    b.is_recurring,
    b.recurrence_pattern,
    b.number_of_recurrences,
    b.created_by,
    b.created_at,
    b.updated_at,
    s.student_name,
    s.roll_number,
    s.student_email,
    i.name AS institution_name,
    ic.item_category_name,
    pc.parent_category_name,
    sc.sub_category_name,
    COALESCE(payments.total_paid, 0::numeric) AS total_paid,
    COALESCE(refunds.total_refunded, 0::numeric) AS total_refunded,
    COALESCE(discounts.total_discount, 0::numeric) AS total_discount,
    (COALESCE(payments.total_paid, 0::numeric) - COALESCE(refunds.total_refunded, 0::numeric)) AS net_paid
FROM billing_student_bills b
LEFT JOIN students s ON b.student_id = s.id
LEFT JOIN institutions i ON b.institution_id = i.id
LEFT JOIN billing_item_categories ic ON b.item_category_id = ic.id
LEFT JOIN billing_parent_categories pc ON ic.parent_category_id = pc.id
LEFT JOIN billing_sub_categories sc ON ic.sub_category_id = sc.id
LEFT JOIN (
    SELECT billing_receipt_items.bill_id,
           sum(billing_receipt_items.amount_paid) AS total_paid
    FROM billing_receipt_items
    GROUP BY billing_receipt_items.bill_id
) payments ON b.id = payments.bill_id
LEFT JOIN (
    SELECT bri.bill_id,
           sum(br.refund_amount) AS total_refunded
    FROM billing_refunds br
    JOIN billing_receipt_items bri ON br.receipt_id = bri.receipt_id
    WHERE br.approval_status = 'processed'
    GROUP BY bri.bill_id
) refunds ON b.id = refunds.bill_id
LEFT JOIN (
    SELECT billing_discounts.bill_id,
           sum(billing_discounts.discount_amount) AS total_discount
    FROM billing_discounts
    WHERE billing_discounts.approval_status = 'approved'
    GROUP BY billing_discounts.bill_id
) discounts ON b.id = discounts.bill_id;

-- =============================================
-- Materialized Views
-- =============================================

-- Materialized view for activity statistics
CREATE MATERIALIZED VIEW activity_stats AS
SELECT 
    date(user_activity_logs.created_at) AS activity_date,
    count(*) AS total_activities,
    count(DISTINCT user_activity_logs.user_id) AS unique_users,
    count(DISTINCT user_activity_logs.session_id) AS unique_sessions,
    user_activity_logs.action_type,
    user_activity_logs.resource_type,
    EXTRACT(hour FROM user_activity_logs.created_at) AS activity_hour
FROM user_activity_logs
WHERE user_activity_logs.created_at >= (now() - '30 days'::interval)
GROUP BY 
    date(user_activity_logs.created_at), 
    user_activity_logs.action_type, 
    user_activity_logs.resource_type, 
    EXTRACT(hour FROM user_activity_logs.created_at)
ORDER BY date(user_activity_logs.created_at) DESC;

-- Create index on materialized view
CREATE INDEX idx_activity_stats_date ON activity_stats(activity_date);
CREATE INDEX idx_activity_stats_action ON activity_stats(action_type);

-- Materialized view for student billing summary
CREATE MATERIALIZED VIEW mv_student_billing_summary AS
SELECT 
    s.id AS student_id,
    s.student_name,
    s.roll_number,
    count(DISTINCT b.id) AS total_bills,
    COALESCE(sum(b.final_amount), 0::numeric) AS total_bill_amount,
    COALESCE(sum(b.balance_amount), 0::numeric) AS total_outstanding,
    count(DISTINCT CASE
        WHEN b.status = 'paid' THEN b.id
        ELSE NULL::uuid
    END) AS paid_bills,
    count(DISTINCT CASE
        WHEN b.status = 'unpaid' THEN b.id
        ELSE NULL::uuid
    END) AS unpaid_bills,
    count(DISTINCT CASE
        WHEN b.status = 'partially_paid' THEN b.id
        ELSE NULL::uuid
    END) AS partially_paid_bills,
    count(DISTINCT CASE
        WHEN b.status = 'overdue' THEN b.id
        ELSE NULL::uuid
    END) AS overdue_bills,
    count(DISTINCT r.id) AS total_receipts,
    COALESCE(sum(r.payment_amount), 0::numeric) AS total_receipt_amount,
    count(DISTINCT ref.id) AS total_refunds,
    COALESCE(sum(CASE
        WHEN ref.approval_status = 'processed' THEN ref.refund_amount
        ELSE 0::numeric
    END), 0::numeric) AS total_processed_refunds,
    max(r.receipt_date) AS last_payment_date,
    max(b.updated_at) AS last_bill_update,
    now() AS summary_generated_at
FROM students s
LEFT JOIN billing_student_bills b ON s.id = b.student_id
LEFT JOIN billing_receipts r ON s.id = r.student_id
LEFT JOIN billing_refunds ref ON r.id = ref.receipt_id
GROUP BY s.id, s.student_name, s.roll_number;

-- Create indexes on materialized view
CREATE INDEX idx_billing_summary_student_id ON mv_student_billing_summary(student_id);
CREATE INDEX idx_billing_summary_outstanding ON mv_student_billing_summary(total_outstanding);

-- =============================================
-- Refresh Policies for Materialized Views
-- =============================================

-- Note: These should be scheduled as cron jobs or through pg_cron extension
-- Example (requires pg_cron extension):
-- SELECT cron.schedule('refresh-activity-stats', '0 */6 * * *', 'REFRESH MATERIALIZED VIEW activity_stats;');
-- SELECT cron.schedule('refresh-billing-summary', '0 2 * * *', 'REFRESH MATERIALIZED VIEW mv_student_billing_summary;'); 
-- =============================================
-- Row Level Security (RLS) Settings and Policies
-- =============================================

-- Enable RLS on all tables
ALTER TABLE academic_years ENABLE ROW LEVEL SECURITY;
ALTER TABLE admissions ENABLE ROW LEVEL SECURITY;
ALTER TABLE api_keys ENABLE ROW LEVEL SECURITY;
ALTER TABLE applications ENABLE ROW LEVEL SECURITY;
ALTER TABLE billing_discounts ENABLE ROW LEVEL SECURITY;
ALTER TABLE billing_invoice_items ENABLE ROW LEVEL SECURITY;
ALTER TABLE billing_invoices ENABLE ROW LEVEL SECURITY;
ALTER TABLE billing_item_categories ENABLE ROW LEVEL SECURITY;
ALTER TABLE billing_parent_categories ENABLE ROW LEVEL SECURITY;
ALTER TABLE billing_receipt_items ENABLE ROW LEVEL SECURITY;
ALTER TABLE billing_receipts ENABLE ROW LEVEL SECURITY;
ALTER TABLE billing_refunds ENABLE ROW LEVEL SECURITY;
ALTER TABLE billing_student_bills ENABLE ROW LEVEL SECURITY;
ALTER TABLE billing_sub_categories ENABLE ROW LEVEL SECURITY;
ALTER TABLE bug_reports ENABLE ROW LEVEL SECURITY;
ALTER TABLE categories ENABLE ROW LEVEL SECURITY;
ALTER TABLE course_mappings ENABLE ROW LEVEL SECURITY;
ALTER TABLE courses ENABLE ROW LEVEL SECURITY;
ALTER TABLE custom_roles ENABLE ROW LEVEL SECURITY;
ALTER TABLE dashboard_configurations ENABLE ROW LEVEL SECURITY;
ALTER TABLE dashboard_widget_types ENABLE ROW LEVEL SECURITY;
ALTER TABLE dashboard_widgets ENABLE ROW LEVEL SECURITY;
ALTER TABLE degrees ENABLE ROW LEVEL SECURITY;
ALTER TABLE departments ENABLE ROW LEVEL SECURITY;
ALTER TABLE digital_reservations ENABLE ROW LEVEL SECURITY;
ALTER TABLE digital_resource_categories ENABLE ROW LEVEL SECURITY;
ALTER TABLE digital_resource_reports ENABLE ROW LEVEL SECURITY;
ALTER TABLE digital_resource_requests ENABLE ROW LEVEL SECURITY;
ALTER TABLE digital_resource_usage ENABLE ROW LEVEL SECURITY;
ALTER TABLE digital_resources ENABLE ROW LEVEL SECURITY;
ALTER TABLE employment_categories ENABLE ROW LEVEL SECURITY;
ALTER TABLE institutions ENABLE ROW LEVEL SECURITY;
ALTER TABLE periods ENABLE ROW LEVEL SECURITY;
ALTER TABLE profiles ENABLE ROW LEVEL SECURITY;
ALTER TABLE programs ENABLE ROW LEVEL SECURITY;
ALTER TABLE reservations ENABLE ROW LEVEL SECURITY;
ALTER TABLE resource_categories ENABLE ROW LEVEL SECURITY;
ALTER TABLE resource_requests ENABLE ROW LEVEL SECURITY;
ALTER TABLE resources ENABLE ROW LEVEL SECURITY;
ALTER TABLE sections ENABLE ROW LEVEL SECURITY;
ALTER TABLE semesters ENABLE ROW LEVEL SECURITY;
ALTER TABLE sharing_policies ENABLE ROW LEVEL SECURITY;
ALTER TABLE staff ENABLE ROW LEVEL SECURITY;
ALTER TABLE staff_plan_courses ENABLE ROW LEVEL SECURITY;
ALTER TABLE staff_plans ENABLE ROW LEVEL SECURITY;
ALTER TABLE student_attendance ENABLE ROW LEVEL SECURITY;
ALTER TABLE students ENABLE ROW LEVEL SECURITY;
ALTER TABLE subcategories ENABLE ROW LEVEL SECURITY;
ALTER TABLE timetable_day_order_shifts ENABLE ROW LEVEL SECURITY;
ALTER TABLE timetable_leaves ENABLE ROW LEVEL SECURITY;
ALTER TABLE timetable_periods ENABLE ROW LEVEL SECURITY;
ALTER TABLE timetable_slot_sections ENABLE ROW LEVEL SECURITY;
ALTER TABLE timetable_slot_staff ENABLE ROW LEVEL SECURITY;
ALTER TABLE timetable_slots ENABLE ROW LEVEL SECURITY;
ALTER TABLE timetable_sub_slot_sections ENABLE ROW LEVEL SECURITY;
ALTER TABLE timetable_sub_slot_staff ENABLE ROW LEVEL SECURITY;
ALTER TABLE timetables ENABLE ROW LEVEL SECURITY;
ALTER TABLE usage_reports ENABLE ROW LEVEL SECURITY;
ALTER TABLE user_activity_logs ENABLE ROW LEVEL SECURITY;
ALTER TABLE users ENABLE ROW LEVEL SECURITY;

-- =============================================
-- Core Table Policies
-- =============================================

-- Profiles policies
CREATE POLICY "Users can view own profile" ON profiles
    FOR SELECT USING (auth.uid() = id);

CREATE POLICY "Users can update own profile" ON profiles
    FOR UPDATE USING (auth.uid() = id);

CREATE POLICY "Super admins can view all profiles" ON profiles
    FOR SELECT USING (
        EXISTS (
            SELECT 1 FROM profiles 
            WHERE id = auth.uid() AND is_super_admin = true
        )
    );

-- Institutions policies
CREATE POLICY "Users can view institutions they have access to" ON institutions
    FOR SELECT USING (
        user_has_institution_access(auth.uid(), id)
    );

CREATE POLICY "Super admins can manage all institutions" ON institutions
    FOR ALL USING (
        EXISTS (
            SELECT 1 FROM profiles 
            WHERE id = auth.uid() AND is_super_admin = true
        )
    );

-- User activity logs policies
CREATE POLICY "Users can view their own activity logs" ON user_activity_logs
    FOR SELECT USING (user_id = auth.uid());

CREATE POLICY "System can insert activity logs" ON user_activity_logs
    FOR INSERT WITH CHECK (true);

-- API Keys policies
CREATE POLICY "Users can view their own API keys" ON api_keys
    FOR SELECT USING (user_id = auth.uid());

CREATE POLICY "Users can create their own API keys" ON api_keys
    FOR INSERT WITH CHECK (user_id = auth.uid());

CREATE POLICY "Users can update their own API keys" ON api_keys
    FOR UPDATE USING (user_id = auth.uid());

CREATE POLICY "Users can delete their own API keys" ON api_keys
    FOR DELETE USING (user_id = auth.uid());

-- =============================================
-- Academic Table Policies
-- =============================================

-- Academic years policies
CREATE POLICY "Users can view academic years of accessible institutions" ON academic_years
    FOR SELECT USING (
        user_has_institution_access(auth.uid(), institution_id)
    );

CREATE POLICY "Admins can manage academic years" ON academic_years
    FOR ALL USING (
        EXISTS (
            SELECT 1 FROM profiles 
            WHERE id = auth.uid() 
            AND (role IN ('administrator', 'super_admin') OR is_super_admin = true)
            AND user_has_institution_access(auth.uid(), academic_years.institution_id)
        )
    );

-- Similar patterns for other academic tables
CREATE POLICY "Users can view degrees" ON degrees
    FOR SELECT USING (
        user_has_institution_access(auth.uid(), institution_id)
    );

CREATE POLICY "Users can view departments" ON departments
    FOR SELECT USING (
        user_has_institution_access(auth.uid(), institution_id)
    );

CREATE POLICY "Users can view programs" ON programs
    FOR SELECT USING (
        user_has_institution_access(auth.uid(), institution_id)
    );

CREATE POLICY "Users can view courses" ON courses
    FOR SELECT USING (
        user_has_institution_access(auth.uid(), institution_id)
    );

CREATE POLICY "Users can view sections" ON sections
    FOR SELECT USING (
        user_has_institution_access(auth.uid(), institution_id)
    );

-- =============================================
-- Student & Staff Policies
-- =============================================

-- Students policies
CREATE POLICY "Students can view their own data" ON students
    FOR SELECT USING (
        EXISTS (
            SELECT 1 FROM profiles 
            WHERE id = auth.uid() 
            AND email = students.student_email
        )
    );

CREATE POLICY "Staff can view students in their institution" ON students
    FOR SELECT USING (
        EXISTS (
            SELECT 1 FROM profiles 
            WHERE id = auth.uid() 
            AND role IN ('faculty', 'staff', 'administrator', 'super_admin')
            AND user_has_institution_access(auth.uid(), students.institution_id)
        )
    );

CREATE POLICY "Admins can manage students" ON students
    FOR ALL USING (
        EXISTS (
            SELECT 1 FROM profiles 
            WHERE id = auth.uid() 
            AND (role IN ('administrator', 'super_admin') OR is_super_admin = true)
            AND user_has_institution_access(auth.uid(), students.institution_id)
        )
    );

-- Staff policies
CREATE POLICY "Staff can view their own data" ON staff
    FOR SELECT USING (
        EXISTS (
            SELECT 1 FROM profiles 
            WHERE id = auth.uid() 
            AND email = staff.email
        )
    );

CREATE POLICY "Users can view staff in their institution" ON staff
    FOR SELECT USING (
        user_has_institution_access(auth.uid(), institution_id)
    );

-- =============================================
-- Billing Policies
-- =============================================

-- Billing student bills policies
CREATE POLICY "Students can view their own bills" ON billing_student_bills
    FOR SELECT USING (
        EXISTS (
            SELECT 1 FROM students s
            JOIN profiles p ON p.email = s.student_email
            WHERE p.id = auth.uid() 
            AND s.id = billing_student_bills.student_id
        )
    );

CREATE POLICY "Billing staff can manage all bills" ON billing_student_bills
    FOR ALL USING (
        EXISTS (
            SELECT 1 FROM profiles 
            WHERE id = auth.uid() 
            AND role IN ('accounts', 'administrator', 'super_admin')
            AND user_has_institution_access(auth.uid(), billing_student_bills.institution_id)
        )
    );

-- Billing receipts policies
CREATE POLICY "Students can view their own receipts" ON billing_receipts
    FOR SELECT USING (
        EXISTS (
            SELECT 1 FROM students s
            JOIN profiles p ON p.email = s.student_email
            WHERE p.id = auth.uid() 
            AND s.id = billing_receipts.student_id
        )
    );

CREATE POLICY "Billing staff can manage receipts" ON billing_receipts
    FOR ALL USING (
        EXISTS (
            SELECT 1 FROM profiles 
            WHERE id = auth.uid() 
            AND role IN ('accounts', 'administrator', 'super_admin')
            AND user_has_institution_access(auth.uid(), billing_receipts.institution_id)
        )
    );

-- =============================================
-- Application & Bug Report Policies
-- =============================================

-- Applications policies
CREATE POLICY "Anyone can view active applications" ON applications
    FOR SELECT USING (is_active = true);

CREATE POLICY "Admins can manage applications" ON applications
    FOR ALL USING (
        EXISTS (
            SELECT 1 FROM profiles 
            WHERE id = auth.uid() 
            AND (role IN ('administrator', 'super_admin') OR is_super_admin = true)
        )
    );

-- Bug reports policies
CREATE POLICY "Users can view their own bug reports" ON bug_reports
    FOR SELECT USING (reporter_user_id = auth.uid());

CREATE POLICY "Users can create bug reports" ON bug_reports
    FOR INSERT WITH CHECK (reporter_user_id = auth.uid());

CREATE POLICY "Admins can view all bug reports" ON bug_reports
    FOR SELECT USING (
        EXISTS (
            SELECT 1 FROM profiles 
            WHERE id = auth.uid() 
            AND (role IN ('administrator', 'super_admin') OR is_super_admin = true)
        )
    );

-- =============================================
-- Dashboard Policies
-- =============================================

-- Dashboard configurations policies
CREATE POLICY "Users can view their own dashboard configurations" ON dashboard_configurations
    FOR SELECT USING (user_id = auth.uid());

CREATE POLICY "Users can manage their own dashboard configurations" ON dashboard_configurations
    FOR ALL USING (user_id = auth.uid());

-- Dashboard widgets policies
CREATE POLICY "Users can view their own dashboard widgets" ON dashboard_widgets
    FOR SELECT USING (
        EXISTS (
            SELECT 1 FROM dashboard_configurations dc
            WHERE dc.id = dashboard_widgets.configuration_id
            AND dc.user_id = auth.uid()
        )
    );

CREATE POLICY "Users can manage their own dashboard widgets" ON dashboard_widgets
    FOR ALL USING (
        EXISTS (
            SELECT 1 FROM dashboard_configurations dc
            WHERE dc.id = dashboard_widgets.configuration_id
            AND dc.user_id = auth.uid()
        )
    );

-- =============================================
-- Grant necessary permissions
-- =============================================

-- Grant usage on schemas
GRANT USAGE ON SCHEMA public TO postgres, anon, authenticated, service_role;

-- Grant permissions on all tables
GRANT ALL ON ALL TABLES IN SCHEMA public TO postgres, service_role;
GRANT SELECT ON ALL TABLES IN SCHEMA public TO anon, authenticated;

-- Grant permissions on all sequences
GRANT ALL ON ALL SEQUENCES IN SCHEMA public TO postgres, service_role;
GRANT USAGE ON ALL SEQUENCES IN SCHEMA public TO authenticated;

-- Grant execute on all functions
GRANT EXECUTE ON ALL FUNCTIONS IN SCHEMA public TO postgres, service_role, authenticated; 
